<!DOCTYPE html>
<html>
    <head>
        <script src="../static/jquery-3.7.0.min.js"></script>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{{ titulo }}</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.css') }}">
    </head>

    <body>
        <div class="container">
            <div class="page-header">
                <h1>{{ titulo }}</h1>
            </div>
            <table>
                <thead>
                    <tr>
                        <th style='width: 25%'>Time</th>
                        <th style='width: 25%'>Power</th>
                    </tr>
                </thead>
                <tbody>
                    {% for power in powers  %}
                        <tr>
                            <td>{{ loop.index }}</td>
                            <td>{{ power }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </body>
    <script src="../static/functions.js"></script>
</html>>
