<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Group Draw Settings</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.css') }}">
  </head>
  <body>
    <div class="container">
        <!--cria container onde as mensagens serão exibidas-->
        {% with messages = get_flashed_messages() %}
            {% if messages %}
            <!--condição para exibição das mensagens-->
                <ul id="messages" class="list-unstyled">
                    <!--laço e repetição para exibição das mensagens-->
                {% for message in messages %}
                    <li class="alert alert-success">{{ message }}</li>
                {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
                <!--fim dos laços-->
        <div class="page-header">
            <h1>{{ titulo }}</h1>
        </div>
        <form action="/process_groups_settings" method="post">
          <div class="form-group">
            <label for="n_grupos">Nº de Grupos</label>
            <input type="text" class="form-control" id="n_grupos" name="n_grupos" placeholder="Número de Grupos" value="5">
          </div>
          <div class="form-group">
            <label for="n_times">Times por Grupo</label>
            <input type="text" class="form-control" id="n_times" name="n_times" placeholder="Times por Grupo" value="5">
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
  </body>
</html>